<dialog aria-label="Approval Required" data-approval-panel-target="panel" class="modal" data-action="close->approval-panel#handleDialogClosed">
  <div class="modal-box">
    <h2 class="font-semibold text-lg">Approval Required</h2>
    <p class="text-sm opacity-70 mt-1" data-approval-panel-target="reason"></p>
    <p class="form-control mt-4">
      <label for="supervisor_email_address">Supervisor Email</label><br>
      <input id="supervisor_email_address" type="email" class="input input-bordered" data-approval-panel-target="supervisorEmail">
    </p>
    <p class="form-control mt-2">
      <label for="supervisor_password">Supervisor Password</label><br>
      <input id="supervisor_password" type="password" class="input input-bordered" data-approval-panel-target="supervisorPassword">
    </p>
    <p class="form-control mt-2">
      <label for="approval_reason">Reason</label><br>
      <input id="approval_reason" type="text" class="input input-bordered" data-approval-panel-target="approvalReasonInput" value="threshold_exceeded">
    </p>
    <input id="approval_policy_trigger" type="hidden" data-approval-panel-target="policyTriggerInput" value="">
    <input id="approval_policy_context" type="hidden" data-approval-panel-target="policyContextInput" value="{}">
    <div class="modal-action">
      <button type="button" class="btn btn-ghost" data-action="approval-panel#deny">Deny</button>
      <button type="button" class="btn btn-primary" data-action="approval-panel#request">Approve & Continue</button>
    </div>
  </div>
</dialog>