<%= render "teller/shared/page_header",
  title: "Session",
  description: "Open or close teller session and assign drawer before starting transactions.",
  secondary_button_path: teller_context_path,
  secondary_button_label: "Branch / Workstation Settings",
  primary_button_path: teller_root_path,
  primary_button_label: "Go to Transaction Flows" %>

<div class="grid grid-cols-1 lg:grid-cols-12 gap-4">
  <div class="lg:col-span-8 space-y-4">
    <%= render "teller/dashboard/teller_session_card", teller_session: @teller_session, drawers: @drawers %>
  </div>

  <aside class="lg:col-span-4 space-y-4">
    <%= render "teller/shared/drawer_totals_panel", teller_session: @teller_session %>
    <%= render "teller/shared/context_settings_panel" %>
  </aside>
</div>